body {
  font-family: monospace;
  background-color:black;
}
h1{
  font-size: 1.4em;
  color: white;
  margin-left: 3%;
  margin-top: 2%;
}

.table {
  display: flex;
  margin: 2em;
}

#list {
  margin: 0;
}

#table-form {
  display: flex;
  flex-direction: column;
}

#form {
  display: flex;
}

input {
  width: 300px;
  padding: 0.5em;
  margin-right: 2em;
}

button {
  height: 40px;
  width: 90px;
  margin-right: 1em;
  cursor: pointer;
}

#list li {
  margin-bottom: 1em;
  color: white;
  font-size:1.5em;
}