body {
  background: rgb(253, 53, 3);
}
header {
  display: flex;
}

header .button-zoom {
  height: 50px;
  width: 50px;
  margin-left: 2em;
  border: 0.5px solid white;
}

header .button-zoom:hover{
  height: 50.1px;
  width: 50.1px;
  cursor: pointer;
}

h1 {
  font-family: monospace;
  color: white;
  margin-left: 2%;
}

#container-images {
  display: flex;
  flex-wrap: wrap;
}

.imgZoom50 {
  height: 256px;
  width: 256px;
  border: 3px solid black;
  box-shadow: 3px 3px;
  margin: 1em;
  background: linear-gradient(to right, rgb(8, 24, 1), rgb(165, 252, 4));
}

.imgZoom100 {
  height: 392px;
  width: 392px;
  border: 3px solid black;
  box-shadow: 3px 3px;
  margin: 1em;
  background: linear-gradient(to right,  rgb(8, 24, 1), rgb(165, 252, 4));
}

.imgZoom150 {
  height: 452px;
  width: 452px;
  border: 3px solid black;
  box-shadow: 3px 3px;
  margin: 1em;
  background: linear-gradient(to right,  rgb(8, 24, 1), rgb(165, 252, 4));
}
#container-images .images {
  height: 206px;
  width: 206px;
  border: 3px solid black;
  box-shadow: 3px 3px;
  margin: 1em;
  background: linear-gradient(to right,  rgb(8, 24, 1), rgb(165, 252, 4));
}